[project]
	description = This script is used to install openstack juno
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/openstackexperts
[access "refs/for/refs/*"]
	read = group user/openstackexperts
	push = group user/openstackexperts
	label-Code-Review = -2..+2 group user/openstackexperts
	label-Verified = -1..+1 group user/openstackexperts
	rebase = group user/openstackexperts
	removeReviewer = group user/openstackexperts
	submit = group user/openstackexperts
[access "refs/heads/*"]
	read = group user/openstackexperts
	create = group user/openstackexperts
	push = +force group user/openstackexperts
	pushMerge = group user/openstackexperts
[access "refs/tags/*"]
	push = +force group user/openstackexperts
	pushTag = group user/openstackexperts
	pushSignedTag = group user/openstackexperts
